acme==1.5.0
aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.3.6
alembic==1.4.2
amqp==2.6.1
appdirs==1.4.4
asgiref==3.2.7
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.4
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
billiard==3.6.3.0
blinker==1.4
bs4==0.0.1
cchardet==2.1.6
celery==4.4.7
certbot==1.5.0
certbot-nginx==1.5.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cmake==3.18.2.post1
coala-utils==0.5.1
colorama==0.4.3
ConfigArgParse==1.2.3
configobj==5.0.6
crayons==0.3.0
crypto==1.4.1
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
Deprecated==1.2.10
distlib==0.3.1
distro==1.5.0
Django==3.0.6
dnspython==1.16.0
docopt==0.6.2
elasticsearch==7.6.0
email-validator==1.1.1
fake-useragent==0.1.11
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-MySQLdb==0.2.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
geographiclib==1.50
geopy==1.21.0
gevent==20.6.2
gevent-websocket==0.10.1
googletransx==2.4.2
greenlet==0.4.16
gunicorn==20.0.4
idna==2.10
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.2
josepy==1.3.0
kiwisolver==1.2.0
kombu==4.6.11
lazy-object-proxy==1.4.3
lxml==4.5.0
Mako==1.1.3
mako-render==0.1.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
multidict==4.7.5
mysqlclient==2.0.1
Naked==0.1.31
nexmo==2.5.2
oauthlib==3.1.0
parsedatetime==2.6
parso==0.6.2
pathlib==1.0.1
pickleshare==0.7.5
piexif==1.1.3
prompt-toolkit==3.0.5
protonvpn-cli==2.2.4
psycopg2-binary==2.8.5
pycares==3.1.1
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.8
PyGithub==1.53
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.4.4
pymongo==3.11.0
PyMySQL==0.10.1
pyngrok==5.0.5
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyRFC3339==1.1
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
pythondialog==3.5.1
pytube==9.6.0
pytz==2020.1
pywin32==300
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
schedule==0.6.0
shellescape==3.8.1
six==1.15.0
soupsieve==2.0
source==1.2.0
SQLAlchemy==1.3.18
sqlparse==0.3.1
stegano==0.9.8
toml==0.10.2
traitlets==4.3.3
urllib3==1.25.9
vine==1.3.0
virtualenv==20.0.31
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.11.2
WTForms==2.3.1
yarl==1.4.2
zope.component==4.6.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==5.1.0
zope.proxy==4.3.5
